<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app" class="m-5">
      <div class="flex flex-row justify-between cards-wrapper">
        <div class="w-1/3 bg-gray-100 rounded-xl p-8 monster-card">
          <h2 class="text-2xl text-center mb-4">Monster</h2>
          <div class="rounded-md healt-bar monster-healt"><i :style="monsterBarStyle"></i></div>
        </div>
        <div class="flex flex-col justify-center winner-wrapper text-center" v-if="winner">
          <h1 class="text-5xl mb-4">Game Over</h1>
          <p class="text-2xl text-red-600" v-if="winner === 'monster'"><i>🐲</i>Monster won!</p>
          <p class="text-2xl text-green-600" v-else-if="winner === 'player'"><i>🙂</i>You won!</p>
          <p class="text-2xl text-blue-600" v-else>It's draw!</p>
        </div>
        <div class="w-1/3 bg-gray-100 rounded-xl p-8 player-card">
          <h2 class="text-2xl text-center mb-4">Player</h2>
          <div class="rounded-md healt-bar player-healt"><i :style="playerBarStyle"></i></div>
        </div>
      </div>
      <div class="flex flex-row justify-center m-10 buttons-wrapper" v-if="!winner">
        <button @click="playerAttack">Attack</button>
        <button @click="specialAttack" :disabled="roundCounter">Special Attack</button>
        <button @click="heal" v-if="healCounter">Heal</button>
      </div>
      <div class="flex flex-row justify-center m-10 buttons-wrapper" v-else>
        <button @click="newGame">New Game</button>
      </div>
      <div class="logs" v-if="gameLogs.length > 0">
        <h3 class="mb-5 text-center text-2xl">Logs</h3>
        <ul>
          <li v-for="logItem in gameLogs">
            <span v-if="logItem.actionWhat === 'heal'">player used to pills {{ logItem.actionValue }}</span>
            <span v-else>{{ logItem.actionWho }} {{ logItem.actionWhat }} that damage {{ logItem.actionValue }} points</span>
          </li>
        </ul>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./app.js"></script>
  </body>
</html>
