.healt-bar {
  height: 2rem;
  background: #fff;
}
.healt-bar i {
  display: block;
  width: 50%;
  height: 2rem;
  background: rgb(24, 194, 24);
}

.buttons-wrapper button {
  padding: 5px 10px;
  margin: 5px;
  font-size: 1rem;
  background: rgb(223, 223, 223);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.buttons-wrapper button:active,
.buttons-wrapper button:focus,
.buttons-wrapper button:hover {
  outline: none;
}

.buttons-wrapper button:hover,
.buttons-wrapper button:focus {
  background-color: #363636;
  color: #e0e0e0;
}
.buttons-wrapper button:disabled {
  color: #bbbbbb;
}

.logs li {
  padding: 4px 10px;
  margin-bottom: 5px;
  background: #f7f7f7;
  border-radius: 4px;
}